POSTGRES_CONNECTION=Host=decision-manager-db;Database=YOUR_DB;Username=YOUR_USER;Password=YOUR_PASSWORD
POSTGRES_DB=YOUR_DB
POSTGRES_USER=YOUR_USER
POSTGRES_PASSWORD=YOUR_PASSWORD
ADMIN_API_KEY=YOUR_ADMIN_KEY
API_KEY=YOUR_API_KEY